/*Up to this screen size do these things (mobile)*/
@media only screen and (max-width: 900px) {

    .Specific_Area_Served_Container {
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: rgba(68, 141, 143, 0.363);
        padding: 2.5vh 0 2.5vh 0;
        width: 35vw;
        box-shadow: 0px 1.5px 1px 0px rgb(199, 199, 199);
    }
 
    .Specific_Area_Served_Title {
        font-size: 16px;        
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        word-wrap: break-word;
    }
}


/*This size or larger do these things (desktop)*/
@media only screen and (min-width: 901px) {

    .Specific_Area_Served_Container {
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: rgba(68, 141, 143, 0.363);
        padding: 25px 0 25px 0;
        width: 100%;
        box-shadow: 0px 1.5px 1px 0px rgb(199, 199, 199);
    }

    .Specific_Area_Served_Container:hover {
        background-color: lightblue;
        cursor: pointer;
    }

    .Specific_Area_Served_Title {
        font-size: 14px;     
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        word-wrap: break-word;
    }
}